# Required packages

setuptools
cython>=0.29.30
pkg-config

# For type annotations
typing
mypy>=0.981
typing_extensions>=4.2.0

# For testing
pytest

# For building docs
sphinx>=4.5.0
sphinx-design
pydata-sphinx-theme
numpydoc>=1.4
